html, body {
    height: 100%;
    font-size: 14px;
    color: #464646;
}

*:focus {
    outline: 0 !important;
}

#login-page section {
    overflow-y: auto;
}

.blue-bg {
    background-color: #2A2A44;
    color: #F7F7F7;
}

.yellow-bg {
    background: linear-gradient(to bottom, #FAC134 0%, #EBCC42 51.8%,#FAC235 98.8%);
}


.block {
    padding: 15px 40px;
    max-width: 580px;
    margin: 0 auto;
}

.onboard-title {
    font-size: 1.875rem;
    line-height: 2.286rem;
    letter-spacing: 1.4px;
    display: inline-block;
    max-width: 420px;
}

.carousel-caption {
    position: relative;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
}

.carousel-indicators {
    bottom: -40px;
}

.carousel-indicators li {
    width: 12px;
    height: 12px;
    background-color: #C4C4C4;
    border-radius: 12px;
}

.carousel-indicators li.active {
    background-color: #C4C4C4;
    border: 3px solid #FFE15A;
}

.btn {
    border-radius: 1.5rem;
    padding: .375rem 1.95rem;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    background-color: #2A2A44;
    border-color: #2A2A44;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary.focus,
.btn-secondary:focus,
.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle {
    background: linear-gradient(to bottom, #FAC134 0%, #E9AB13 100%);
    border-color: #E9AB13;
    color: #FFFFFF;
    box-shadow: none !important;
}

.btn-primary.focus,
.btn-primary:focus,
.btn-secondary.focus,
.btn-secondary:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show>.dropdown-toggle:focus {
    box-shadow: none !important;
}

a {
    color: #2A2A44;
    text-decoration: underline;
}

a:hover {
    color: #2A2A44;
}

.form-holder {
    padding-top: 80px;
}

.form-group {
    margin-bottom: 1.85rem;
}

label {
    font-size: 0.85rem;
    font-weight: 700;
}

.form-control {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #30304D;
    padding: .375rem 0;
    color: #27272D;
}

.form-control::placeholder {
    color: #27272D;
    opacity: 0.65;
}

.form-control::-webkit-input-placeholder {
    color: #27272D;
    opacity: 0.65;
}

.form-control:focus {
    color: #27272D;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #30304D;
    outline: 0;
    box-shadow: none;
}

.form-title {
    padding-top: 20px;
    padding-bottom: 20px;
}

.form-title .active {
    position: relative;
}

.form-title a {
    text-decoration: none;
}

.form-title .active:after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -4px;
    border: 1px solid;
}

ul.footnotes li {
    position: relative;
    color: #6f6e6e;
    font-size: 0.985rem;
}

ul.footnotes li:not(:last-child) {
    margin-right: 8px;
}

ul.footnotes li:not(:last-child)::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 9px;
    right: -8px;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #6f6e6e;
}

ul.footnotes li a{
    text-decoration: none;
    color: #6f6e6e;
}

@media only screen and (min-width:628px){
    .block {
        padding: 40px 40px;
        max-width: 580px;
    }
}
@media only screen and (max-width:767px){
    .form-holder {
        padding-top: 100px;
    }
    .block {
        padding: 15px 15px;
    }
    footer {
        margin-top: -30px;
    }
}
