@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i');
body {
    font-family: 'PT Sans', sans-serif;
    background: #EAEFF3;
    font-weight: 400;
    color: #2a2a4a;
    line-height: 1.5;
    font-size: 14px;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    display: block;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

i,
span {
    display: inline-block;
}

.btn-info, .btn-info:hover, 
.btn-info:not(:disabled):not(.disabled).active, .btn-info:not(:disabled):not(.disabled):active, .show>.btn-info.dropdown-toggle  {
    color: #fff;
    background-color: #393857;
    border-color: #393857;
} 

.btn-primary, .btn-primary:hover, 
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle  {
    color: #fff;
    background-color: #FABD30;
    border-color: #FABD30;
    padding: 6px 20px;
    font-size: 13px;
    font-weight: 600;
} 

.btn-info.focus, .btn-info:focus, 
.btn-info:not(:disabled):not(.disabled).active:focus, .btn-info:not(:disabled):not(.disabled):active:focus, .show>.btn-info.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-primary.focus, .btn-primary:focus, 
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}
.btn-dark:not(:disabled):not(.disabled).active:focus, .btn-dark:not(:disabled):not(.disabled):active:focus, .show>.btn-dark.dropdown-toggle:focus {
    box-shadow: none;
}

.btn:focus {
    outline: 0;
    box-shadow: none;
}

.btn-default, .btn-dark, .btn-dark:hover, .btn-dark:not(:disabled):not(.disabled).active, .btn-dark:not(:disabled):not(.disabled):active, .show>.btn-dark.dropdown-toggle {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
}

.btn-default, .btn-dark, .btn-dark:hover {
    color: transparent;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 16px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color:#FABD30;
}

.navbar-column {
    flex-direction: initial;
}

.navbar-column .nav-link {
    padding-right: 5px;
    padding-left: 5px;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background: #393857;
    color: #fff;
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
}

.main-navbar {
    flex-grow: 1;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}
#sidebar.active svg{
    margin-right: 0;
}

#sidebar.active .sidebar-header .logo-image, 
#sidebar.active .sidebar-links,
#sidebar.active .dropdown-toggle::after,
#sidebar.active .create-task
 {
    display: none;
}

#sidebar.active .copyright {
    min-width: 80px;
    max-width: 80px;
}

#sidebar.active .list-unstyled {
    padding-left: 0;
}

#sidebar.active .sidebar-header .strom-logo-icon {
    display: block;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 12px;
}

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 13px;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

.create-task {
    padding: 25px;
    text-align: center;
}
.sidebar-header img {
    max-width: 100%;
    height: auto;
}
#sidebar ul li a {
    text-align: left;
}

#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #30304d;
}

#sidebar .sidebar-header .strom-logo-icon {
    display: none;
    font-size: 14px;
}

#sidebar ul.sidebar-components {
    padding: 0 0 20px 0;
    border-bottom: 1px solid #393857;
}

#sidebar ul li a {
    padding: 20px;
    font-size: 14px;
    display: block;
}
#sidebar ul li a:hover {
    color: #FAC134;
    background: #30304D;
}
#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #30304D;
}
#sidebar svg {
    margin-right: 20px;
}

.sidebar-links {
    display: inline-block;
    font-size: 14px;
    margin-bottom: 0;
    font-weight: 400;
}

.list-unstyled {
    padding-left: 30px;
}

.collapse li {
    color: rgba(255,255,255,.6);
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 13px !important;
    padding-left: 30px !important;
    background: #393857;
}

.copyright {
    bottom: 10px;
    text-align: center;
    padding: 5px;
    min-width: 250px;
    max-width: 250px;
    position: fixed;
}
.copyright h6 {
    font-size: 12px;
    color: rgba(255,255,255,.5);
}
/* ---------------------------------------------------
    MAIN CONTENT STYLE
----------------------------------------------------- */

#main-content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
}

.main-content-overlay{
    height: 350px;
    background: linear-gradient(196.18deg, rgba(250, 193, 52, 0.3) -6.91%, rgba(42, 42, 68, 0.3) 119.53%), linear-gradient(196.19deg, #3A3897 -7.71%, #A3A1FF 107.88%);
}

.content-body {
    margin: 30px;
    background: #fff;
    border-radius: 10px;
    position: relative;
    margin-top: -88px;
    height: auto;
}

.container-text {
    padding: 30px 15px;
}

.profiler, .welcome {
    display: flex;
    align-items: center;
    padding-right: 8px;
}

.profiler {
    padding-right: 8px;
}

.profiler-container {
    justify-content: flex-end !important;
    margin-top: 100px;
}

.profile-image {
    margin-right: 10px;
}

.profiler-image, .welcome-image {
    border-radius: 50%;
}

.welcome-image {
    background: #B1252D;
    padding: 15px;
    margin-right: 15px;
}

.welcome-image img {
    max-width: 40px;
}

.profiler-details {
    color: #fff;
    text-align: center;
}
.profiler-name {
    font-size: 12px;
}
.profiler-role {
    font-size: 9px;
    font-style: italic;
}

.welcome-name {
    font-size: 26px;
}

.welcome-role {
    color: #30304D;
    font-size: 12px;
    text-transform: uppercase;
}

.all-tasks-section, .manage-users-section {
    padding-top: 45px;
}

.all-tasks, .manage-users, .cash-out {
    text-transform: uppercase;
}

.download-cashout-report {
    position: absolute;
    right: 40px;
}

.table td, .table th {
    padding: 11px;
    text-transform: none;
}

.table-responsive {
    margin-top: 25px;
}

.completed-task {
    color: #7EDB8F;
}

.in-progress-task {
    color: #FAC134;
}

.type-airtime {
    color: #F96D74;
}

.type-transfer {
    color: #277435;
}
.urban, .ban {
    background: #7EDB8F;
    border-radius: 20px;
    color: #fff;
    padding:2px 10px;
    font-size: 10px;
    line-height: 12px;
}
.ban {
    background: #B1252D;
}

.revenue-count p {
    line-height: 20px;
}
.revenue-day, .revenue-month, .revenue-week, .revenue-alltime {
    background: #E9AB13;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin: 5px;
}

.revenue-week, .revenue-alltime {
    background: #2A2A44;
}

.revenue-day p:first-child, .revenue-month p:first-child {
   color: #fff;
   margin-bottom: 0;
   font-size: 12px;
}

.revenue-week p:first-child, .revenue-alltime p:first-child ,  .revenue-week p:nth-child(2), .revenue-alltime p:nth-child(2), .revenue-day p:nth-child(2), .revenue-month p:nth-child(2) {
    color: #24292C;
    margin-bottom: 0;
 }

 .revenue-week p:first-child, .revenue-alltime p:first-child {
    color: #fff;
    font-size: 12px;
 }
 
 .revenue-week p:nth-child(2), .revenue-alltime p:nth-child(2) {
     color: #E9AB13;
  }


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }
    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
    }
    #sidebar .sidebar-header .logo-image {
        display: none;
    }
    #sidebar .sidebar-header .strom-logo-icon {
        display: block;
    }
    #sidebar ul li a {
        padding: 20px 10px;
    }
    #sidebar ul li a span {
        font-size: 12px;
    }
    #sidebar ul li a i {
        margin-right: 0;
        display: block;
    }
    #sidebar ul ul a {
        padding: 10px !important;
    }
    #sidebar ul li a i {
        font-size: 14px;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
    .list-unstyled {
        padding-left: 0;
    }
    .create-task{
        display: none;
    }
    .main-content-overlay {
        height: 250px;
    }
    .profiler-container {
        margin-top: 40px;
    }
    .welcome-name {
        font-size: 18px;
    }
    .urban, .ban {
        font-size: 8px;
    }
}